@media screen and (max-width: 600px){
  
}
@media screen and (min-width: 600px){
    nav{
        margin-top: -30px;
    }
   
}
@media screen and (min-width: 1200px){
    nav{
        margin-top: -30px;
    }
}

nav li:nth-child(1) a{
    color: #574930;
    font-weight: 300;
}

nav li:nth-child(2) a{
    color: #2D1D00;
    font-weight: 600;
}