@media screen and (max-width: 600px){
    #ux_ui, .container1{
        position: relative;
        /* width: 100%; */
        margin: 0 10%;
        margin-top: 25%;
    }

    #pub, .container2{
        position: relative;
        /* width: 100%; */
        margin: 5% 10%;
        margin-bottom: 60%;
    }
    section{
        font-size: 1.3em;
        font-weight: 600;
    }
}
@media screen and (min-width: 600px){
    nav{
        margin-top: -30px;
    }

    #ux_ui, .container1{
        position: relative;
        width: 100%;
        margin: 8% 0;
        margin-bottom: 3%;
    }

    #pub, .container2{
        position: relative;
        width: 100%;
        margin-bottom: 8%;
    }
    section{
        font-size: 2em;
        font-weight: 600;
    }
}
@media screen and (min-width: 1200px){
    nav{
        margin-top: -30px;
    }
    #ux_ui, .container1{
        position: relative;
        width: 50%;
        float: left;

        margin: 10% 0;
        margin-top: 3%;
    }
    #pub, .container2{
        position: relative;
        width: 50%;
        float: right;

        margin: 12% 0;
        margin-top: 3%;
    }
    section{
        font-size: 1.8em;
        font-weight: 600;
    }
}


nav li:nth-child(1) a{
    color: #574930;
    font-weight: 300;
}

nav li:nth-child(2) a{
    color: #2D1D00;
    font-weight: 600;
}


#ux_ui a img{
    width: 100%;
}

.text {
    color: #2D1D00;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}



#pub a img{
    width: 100%;
}


section{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #2D1D00;
}

section a:hover {
    opacity: 0.3;
}
section a:hover .text{
    opacity: 1;
}